# --БОТ--
BOT_TOKEN=your_token

# --ТОКЕНЫ ПЛАТЕЖЕК--
PAYMENT_TOKEN_1=your_token
PAYMENT_TOKEN_2=None
PAYMENT_TOKEN_3=None

# --НАСТРОЙКА Т-БАНКА(вставить токен и пароль)--
TINKOFF_TERMINAL_KEY=None
TINKOFF_PASSWORD=None

# --НАСТРОЙКА ЮКАССЫ--
SHOP_ID=None
SECRET_KEY=None

# --БАЗА ДАННЫХ--
PASSWORD_DB=your_password
DB_HOST=your_host
DB_USER=your_user
DB_NAME=your_name
DB_PORT=your_port


# --ДАННЫЕ СЕРВЕРА--
IP=your_ip
SSH_USER=your_ssh
PASSWORD=your_password